body
{
	margin: 0;
	padding: 0;
	font-family: Cambria;
	background: #f7497d;
}

.box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	padding: 40px;
	box-sizing: border-box;	
	border: 1px solid rgba(0,0,0,0.1)
	box-shadow: -13px 13px 13px rgba(0,0,0,0.6);
	border-radius: 4px;
}



.box h2
{
	margin: 0 0 25px;
	padding: 0;
	color: #f7497d;
	text-transform: uppercase;
}

.box input,
.box button
{
	padding: 10px 0;
	margin-bottom: 30px;
	box-sizing: border-box;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #999;
}

.box textarea
{
	height: 80px;
	padding: 10px 0;
	margin-bottom: 20px;
	box-sizing: border-box;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #999;
}

.box button
{
	border-bottom: none;
	width: 100%;
	cursor: pointer;
	color: #f7497d;
	border: 2px solid #f7497D;
	margin-bottom: 0;
	text-transform: uppercase;
	background: white;
	font-weight: bold;
	background: linear-gradient(to right, #f7497d 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	
}

.box button:hover {
	background-position:left bottom;
	color: white;
	transition: all .9s ease;
}

.box form div
{
	position: relative;
}

.box form div label
{
	position: absolute;
	top:10%;
	pointer-events: none;
	left: 0;
	color: #999;
	transition: 0.5s;
}

.box input:focus ~ label,
.box textarea:focus ~ label,
.box input:valid ~ label,
.box textarea:valid ~ label
{
	top: -12px;
	left: 0;
	color: #f7497d; 
	font-size: 12px;
	font-weight: bold;
}

.box input:focus,
.box textarea:focus,
.box input:valid,
.box textarea:valid
{
	border-bottom: 2px solid #f7497d;
}















